{
  "token": "foobar",
  "envName": "Production",
  "slackWebhookUrl": "https://hooks.slack.com/services/YOURSLACKWEBHOOKTOKEN",
  "stacks": {
    "hello-world": {
      "repository": "git@github.com:/yourdomain/yourdeploymentrepository",
      "branch": "master",
      "command": "docker stack deploy -c docker-compose.yml hello-world"
    }
  }
}
