{
  "token": "foobar",
  "slackWebhookUrl": "https://hooks.slack.com/services/YOURSLACKWEBHOOKTOKEN",
  "stacks": {
    "barfoo-testicles": {
      "repository": "git@github.com:/protacon/barfoo-testicles",
      "branch": "master",
      "command": "docker stack deploy -c docker-compose.yml",
    }
  }
}
