{
  "token": "foobar",
  "stacks": {
    "barfoo-testicles": {
      "repository": "git@github.com:/protacon/barfoo-testicles",
      "command": "docker stack deploy -c docker-compose.yml"
    }
  }
}
